@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  font-family: Roboto-Condensed, sans-serif;
}

.app__main {
  color: transparent;
  background-image: url("https://images.pexels.com/photos/163407/cyclists-trail-bike-clouds-163407.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-size: cover;
  width: 700px;
  height: 400px;
  margin: 25px auto 0 auto;
}

.app__currentV {
  color: #242323;
  font-size: 12px;
  margin-left: 10px;
  background-color: #ffea28;
  padding: 3px;
}
